

@font-face {
  font-family: "FractulAltBold";
  src: url("../fonts/Fractul/FractulAltBold/font.woff2") format("woff2"),
    url("../fonts/Fractul/FractulAltBold/font.woff") format("woff");
}

@font-face {
  font-family: "FractulAltLight";
  src: url("../fonts/Fractul/FractulAltLight/font.woff2") format("woff2"),
    url("../fonts/Fractul/FractulAltLight/font.woff") format("woff");
}

@font-face {
    font-family: "FractulRegular";
    src: url('../fonts/Fractul/FractulRegular/font.woff2') format('woff2'), url('../fonts/Fractul/FractulRegular/font.woff') format('woff');
  }

